{
    "presets": [
        "stage-2",
        ["env", {
            "targets": {
                "node": "8"
            }
        }]
    ],
    "plugins": [
        ["dotenv-import", {
          "moduleName": "@env",
          "path": ".env",
          "safe": true
        }]
    ]
}